<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Correo Electrónico</title>
</head>
<body>
<div style="text-align: left; padding: 20px;">
    <p>Hola,</p>
    <p>Adjunto informe de la factura {{INVOICE_NUMBER}}.</p>
    <p>Saludos,</p>
</div>


<div style="text-align: left; padding: 20px; line-height 0.6;">
    <p><strong>Datos de Contacto:</strong></p>
    <p style="margin-bottom: 10px">Taller Torno Fumero</p>
    <p style="margin-bottom: 10px">C/Granadilla Esqu.C/Arona, 16
        38205 - San Cristóbal de La Laguna, Tenerife</p>
    <p style="margin-bottom: 10px">Teléfono: 922654458 - 615932011</p>
    <p style="margin-bottom: 10px">Correo Electrónico: tallertornofumero@hotmail.com</p>
    <p style="margin-bottom: 10px">Sitio Web: <a href="https://www.tallertornofumero.com">www.tallertornofumero.com</a></p>
</div>
</body>
</html>
